body {
    margin: 0px;
    padding: 0px;
    background-image: url(images/bgimg.png);
}
.loginbox {
    width: 370px;
    height: 600px;
    background: rgb(66, 64, 64);
    color: antiquewhite;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box; 
    border-style: solid;
    border-color: aquamarine;
    padding: 70px 30px;
    border-radius: 10px;
}
.loginimg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.loginbox p {
    margin: 1px;
    padding: 5px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.loginbox input {
    width: 100%;
    margin-bottom: 20px;
}
.loginbox input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: antiquewhite;
    font-size: 20px;
}
.input_label {
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 4px;
   font-weight: bolder;
}
#user, #pass {
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.login {
    border: none;
    outline: none;
    background: lightskyblue;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px 25px;
   
   
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
  }
 .signup {
    border: none;
    outline: none;
    background: lightskyblue;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px 20px;
   
   
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
 }
 .text1 {
    font-size: 12px;
    line-height: 20px;
    color: aliceblue;
    
 }
 .validation {
    display: inline;
    color: rgb(255, 0, 0);
    font-style: italic;
    padding-left: 10px;
    
  }
.favicon {border-radius: 50%};
#checkbox {
   float: right;
}

