body {
    margin: 0px;
    padding: 0px;
    background-image: url(images/bgimg.png);
}
.loginbox {
    width: 800px;
    height: 550px;
    background: rgb(66, 64, 64);
    color: antiquewhite;
    top: 40%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box; 
    padding: 70px 50px;
}
p {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}